header
  nav
    .logo
      a(href="/") HIS
    ul
      li
        a(href="/") Inicio
      li
        a(href="/admisiones/nueva") Nueva Admisión
      li
        a(href="/admisiones/activas") Admisiones Activas