extends layout.pug

block content
  .container
    h1 Bienvenido al Sistema Hospitalario HIS
    p Esta es la página principal
    p Utiliza el menú de navegación para acceder a las funcionalidades

    .call-to-action
      h2 ¿Qué deseas hacer?
      ul
        li
          a(href="/admisiones/nueva") Realizar una Nueva Admisión
        li
          a(href="/pacientes/nuevo") Registrar Nuevo Paciente 
        li
          a(href="/pacientes/modificar") Modificar Paciente Existente 
        li
          a(href="/admisiones/activas") Ver Admisiones Activas
        